<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🐍 on Firebase Hosting</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <script>
    window.__STATUSES__ = {{ context.statuses|safe }};
  </script>
  <script type="module" src="/js/app.js"></script>
</head>
<body class="full-screen flex-col justify-evenly items-center font-sans bg-weather">
  {% block body %}
  {% endblock %}
</body>
</html>
